In [6]:
import pandas as pd

data = { 
    'name': ['shubh', 'ishan', 'naman', 'taman'],
    'age' : [2,3,4,5],
    'salary' : [222,333,444,555]
}

df = pd.DataFrame(data)
print("original dataframe")
print(df)

original dataframe
    name  age  salary
0  shubh    2     222
1  ishan    3     333
2  naman    4     444
3  taman    5     555