In [3]:
import pandas as pd

data = { 
    'name': ['shubh', 'ishan', 'naman', 'taman'],
    'age' : [2,None,4,5],
    'salary' : [222,333,444,555]
}

df = pd.DataFrame(data)
print("original dataframe")
print(df)

print(df.isnull())
print(df.isnull().sum())

df['age'].fillna(df['age'].mean(), inplace=True)
df['salary'].fillna(df['salary'],inplace=True)
print(df)

original dataframe
    name  age  salary
0  shubh  2.0     222
1  ishan  NaN     333
2  naman  4.0     444
3  taman  5.0     555
    name    age  salary
0  False  False   False
1  False   True   False
2  False  False   False
3  False  False   False
name      0
age       1
salary    0
dtype: int64
    name       age  salary
0  shubh  2.000000     222
1  ishan  3.666667     333
2  naman  4.000000     444
3  taman  5.000000     555

C:\Users\athar\AppData\Local\Temp\ipykernel_19304\3991369335.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].mean(), inplace=True)

In [6]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

df = pd.read_csv("Sample_Data.csv")

# Clean column names (remove spaces, make consistent)
df.columns = df.columns.str.strip()

df_label = df.copy()
le = LabelEncoder()

print("Columns after cleaning:", df_label.columns.tolist())  # Debug

df_label['Gender_Encoded'] = le.fit_transform(df_label['Gender'])
df_label['Passed_Encoded'] = le.fit_transform(df_label['Passed'])

print('\nLabel Encoded Data')
print(df_label[['Name','Gender','Gender_Encoded','Passed','Passed_Encoded']])

df_encoded = pd.get_dummies(df_label, columns =['City'])
print('\nOne-Hot Encoded Data (City)')
print(df_encoded)

Columns after cleaning: ['Name', 'Gender', 'City', 'Passed']

Label Encoded Data
      Name  Gender  Gender_Encoded Passed  Passed_Encoded
0     Aman    Male               1    Yes               1
1    Priya  Female               0    Yes               1
2    Rahul    Male               1     No               0
3   Anjali  Female               0    Yes               1
4     Ravi    Male               1    Yes               1
5    Meera  Female               0    Yes               1
6    Arjun    Male               1     No               0
7     Neha  Female               0    Yes               1
8    Imran    Male               1    Yes               1
9    Sneha  Female               0    Yes               1
10     Raj    Male               1    Yes               1
11   Divya  Female               0     No               0
12   Kabir    Male               1    Yes               1
13   Karan    Male               1    Yes               1
14   Pooja  Female               0    Yes               1
15  Rakesh    Male               1    Yes               1
16    Isha  Female               0     No               0
17   Rohit    Male               1    Yes               1
18   Deepa  Female               0    Yes               1

One-Hot Encoded Data (City)
      Name  Gender Passed  Gender_Encoded  Passed_Encoded  City_Bangalore  \
0     Aman    Male    Yes               1               1           False
1    Priya  Female    Yes               0               1           False
2    Rahul    Male     No               1               0            True
3   Anjali  Female    Yes               0               1           False
4     Ravi    Male    Yes               1               1           False
5    Meera  Female    Yes               0               1           False
6    Arjun    Male     No               1               0            True
7     Neha  Female    Yes               0               1           False
8    Imran    Male    Yes               1               1           False
9    Sneha  Female    Yes               0               1           False
10     Raj    Male    Yes               1               1           False
11   Divya  Female     No               0               0           False
12   Kabir    Male    Yes               1               1           False
13   Karan    Male    Yes               1               1            True
14   Pooja  Female    Yes               0               1           False
15  Rakesh    Male    Yes               1               1           False
16    Isha  Female     No               0               0           False
17   Rohit    Male    Yes               1               1           False
18   Deepa  Female    Yes               0               1            True

    City_Chennai  City_Delhi  City_Mumbai
0          False        True        False
1          False       False         True
2          False       False        False
3          False       False         True
4          False        True        False
5           True       False        False
6          False       False        False
7          False        True        False
8           True       False        False
9          False       False         True
10          True       False        False
11         False        True        False
12         False       False         True
13         False       False        False
14         False       False         True
15          True       False        False
16         False        True        False
17          True       False        False
18         False       False        False

In [7]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

scaler = StandardScaler()
x_scaled = scaler.fit_transform()

scaler=MinMaxScaler()
x_scaled = scaler.fit_transform()

TypeError: TransformerMixin.fit_transform() missing 1 required positional argument: 'X'

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split

data = {
    'StudyHours':[1,2,3,4,5],
    'TestScore':[40,50,60,70,80]
}

df = pd.DataFrame(data)

Standard_Scaler = StandardScaler()
Standard_Scaled = Standard_Scaler.fit_transform(df)

print("Standard Scaler Output:")
print(pd.DataFrame(Standard_Scaled, columns=['StudyHours', 'TestScore']))

minmax_scaler = MinMaxScaler()
minmax_scaled = minmax_scaler.fit_transform(df)

Standard Scaler Output:
   StudyHours  TestScore
0   -1.414214  -1.414214
1   -0.707107  -0.707107
2    0.000000   0.000000
3    0.707107   0.707107
4    1.414214   1.414214